<h1>Add a New Job</h1>

<%= form_for @job,:url => { :action => "create" } do |f| %>
<p>
<%= f.label :job_title %><br />
<%= f.text_field :job_title %>
</p>
<p>
<%= f.submit "ADD NEW JOB" %><br />
</p>
<% end %>
