<h1>Edit Worker</h1>

<%= form_for @worker do |f| %>
    <p>
      <% f.label :name %><br />
    </p>
    <p>
      <% f.label :surname %><br />
    </p>
    <p>
      <% f.label :fathername %><br />
      <%= f.submit "Edit Skill" %>
    </p>
<% end %>
