<h1>Add a New Skill</h1>

<%= form_for @skill,:url => { :action => "create" } do |f| %>
<p>
<%= f.label :title %><br />
<%= f.text_field :title %>
</p>
<p>
<%= f.submit "ADD NEW SKILL" %><br />
</p>
<% end %>
